body {
    margin: 0;
    padding: 0;
    direction: rtl;
    /* height: 2000px; */
    /* background-color: #228b02; */
    /* width: 400px; */
}
nav {
    width: 100%;
    height: 70px;
    background-color: #444;
    /* padding: 10px; */
    position: relative;
    display: flex;
    position: fixed;
    z-index: 10;
    
}
nav div{
    transition: 0.5s all;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    transition: 0.5s all;
    cursor: pointer;
}
nav div i{
    color: white;
    width: 30px;
    margin: 18px;
    cursor: pointer;
    font-size: 29px;
}
nav div:hover{
    width: 60px;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.23);
    display: flex;
    justify-content: center;
    transition: 0.5s all;
}
nav img {
    height: 90%;
    width: 20px;
    display: none;
}
.b {
    width: 50px;
    height: 100%;
    position: absolute;
    right: 80px;
    /* top: 2px; */
    /* border:1px solid white; */
    color: white;
    background-color: #444;
    border-style: none;
    cursor: pointer;
    font-family: "Cairo", sans-serif;
    transition: 0.5s all;
    font-size: 19px;
}

.b:hover {
    background-color: rgba(255, 255, 255, 0.23);
}
i {
    cursor: pointer;
}
.b span{
    display: none;
}
.enter{
    position: absolute;
    top: 0px;
    right: 150px;
}
.enter i{
    margin-top: 30px !important;
}
.new{
    position: absolute; 
    top: 0px;
    right: 200px;
}
.new i{
    margin-top: 30px !important;
}
.b1 {
    width: 50px;
    height: 90%;
    position: absolute;
    right: 70%;
    top: 5px;
    border: 1px solid white;
    color: white;
    background-color: #444;
    cursor: pointer;
    font-family: "Cairo", sans-serif;
    transition: 0.5s all;
}
.b1:hover {
    background-color: rgba(255, 255, 255, 0.23);
}
.b1 p {
    font-weight: 500;
    display: inline;
    font-size: 10px;
    display: none;
}

.b2 {
    width: 50px;
    height: 90%;
    position: absolute;
    right: 86%;
    top: 5px;
    border: 1px solid white;
    color: white;
    background-color: #444;
    cursor: pointer;
    font-family: "Cairo", sans-serif;
    transition: 0.5s all;
}
.b2:hover {
    background-color: rgba(255, 255, 255, 0.23);
}
.b2 p {
    font-weight: 500;
    display: inline;
    font-size: 18px;
    display: none;
}
header {
    /* text-align: center; */
    width: 100%;
    height: 530px;
    background-position: center ;
    background-image: url(../img/cover.jpg);
    background-size: cover 20%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 20px;
}
header h1 {
    font-size: 20px;
    font-family: "Cairo", sans-serif;
    font-weight: 400;
    }
header h2 {
    font-size: 15px;
    font-family: "Cairo", sans-serif;
    font-weight: 200;
}
header div {
    width: 300px;
    height: 50px;
    background-color: #fff;
    padding: 10px;
    display: flex;
}
header form input {
    width: 300px;
    height: 100%;
    border: none;
    font-size: 12px;
    font-family: "Cairo", sans-serif;
    border: none;
}
header form input:focus {
    border: none;
    outline: none ;
}
header div button {
    width: 50px;
    height: 80%;
    border-color: #52b035;
    background-color: #52b035;
    color: white;
    font-size: 19px;
    font-family: "Cairo", sans-serif;
    cursor: pointer;
    transition: 0.5s all;
    margin-right: -50px;
}
header div button:hover {
    background-color: green;
}
.section-1 {
    width: 100%;
    height: 1680px;
    margin-top: 100px;
    background-color: transparent;
    text-align: center;
    /* background-color: #444; */
}
.section-1 h2 {
    margin-top: 10px;
    font-size: 20px;
    font-family: "Cairo", sans-serif;
    font-weight: 200;
}
.div {
    display: flex;
    flex-direction: column;
    height: 920px;
    width: 100%;
    margin-top: 20px;
    /* background-color: yellowgreen; */
}

.divv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
}
.divv img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.divv h3 {
    color: white;
    font-size: 20px;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
}
.section-2{
    width: 100%;
    height: 900px;
    background-color:#f1f1f1 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:280px;
}
.section-2 h1{
    font-size: 20px;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}
.section-2-son{
    display: flex;
    width: 80%;
    justify-content: space-around;
    flex-direction: column;
}

.section-2-son div{
    padding: 10px;
    width: 100%;
    height: 150px;
    background-color: white;
    margin-top: 80px;    
    position: relative;
}
.section-2-son img{
    width: 40px;
    height: 40px;
}
.section-2-son div h3 {
    position: absolute;
    top: -10px;
    right: 60px;
    font-size: 18px;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    line-height: 30px;
}
.section-2-son div p {
    position: absolute;
    top: 30px;
    right: 60px;
    line-height: 30px;
    font-size: 16;
    font-family: 'Cairo', sans-serif
}
.section-2-son div span{
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #52b035;
    text-align: center;
    line-height: 44px;
    font-size: 25px;
    color: #f1f1f1;
    font-family: 'Cairo', sans-serif ;
    position: absolute;
    bottom: -22px;
    left: 20px;
}
.section-3{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content:space-between;
    margin-top: 120px;
    /* background-color: yellowgreen; */
}
.section-3 a{
    text-decoration: none;
    font-family: 'Cairo', sans-serif ;
    color: black;
    margin-right: 20px;
}
.section-3 h2{
    display: inline-block;
    font-size: 15px;
    margin-top: 25px;
}
.section-3 a button{
    width: 100px;
    height: 50%;
    border: 1px solid #52b035;
    color: #52b035;
    background-color: rgb(255, 253, 253);
    cursor: pointer;
    font-size: 10px;
    font-family: "Cairo", sans-serif;
    transition: 0.5s all;
    margin-left: 20px;
    margin-top: 20px;
}
.section-3 a button:hover{
    color: white;
    background-color: #52b035;
}
article{
    width: 100%;
    /* height: 600px; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Cairo", sans-serif ;
    margin: auto;
    /* background-color: #52b035; */
}
article div{
    line-height: 1.1;
    position: relative;
    /* background-color: #52b035; */
    width: 80%;
    margin: auto;
}
article a{
    text-decoration: none;
    color: black;
    font-size: 19px;
}
article a:hover{
    color: #52b035;
}
article div p {
    word-spacing: 0px;
}
article img{
    width: 80%;
}
.min-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 80px; 
    top: 30%;
    
}
.a{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}
.a:hover{
    color: rgba(0, 0, 0, 0.5);
}
article span{
    color: rgba(0, 0, 0, 0.5);
}
.section-4{
    width: 100%;
    height: 500px;
    margin-top: 20px;
    background-color: #f1f1f1;
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Cairo", sans-serif ;
}
.section-4 h1{
    font-size: 20px;
    font-weight: 100;
    margin-top: 50px;
}
.section-4 summary{
    padding: 4px;
    width: 95%;
    background-color: #f1f1f1;
    border-bottom: 1px solid black;
    cursor: pointer;
    font-size: 15px;
    color :black;
    transition: 0.5s all;
}
.section-4 summary:focus{
    color:#52b035;
}
.section-4 p{
    width: 100% ;
    font-size: 19px;
}
.article{
    width: 100%;
    height: 600px;
    margin-top: 350px;
    /* background-color: #52b035; */
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
.article div{
    width:300px;
    margin-top: 30px;
    line-height: 1.7;
    /* background-color: antiquewhite; */
}
.article p{
    font-family: 'Courier New', Courier, monospace;
    word-spacing: -3px;
    color: #228b02;
    cursor: pointer;
    font-weight: bold;
}

















.footer-1{
    margin-top: 400px;
    width: 100%;
    height: 400px;
    background-color: #444;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.footer-1 h1{
    color: aliceblue;
    font-family: "Cairo", sans-serif ;
    font-weight: 100;


}
.footer-1  button {
    width: 150px;
    height: 80px;
    border-color: #52b035;
    background-color: #52b035;
    color: white;
    font-size: 19px;
    font-family: "Cairo", sans-serif;
    cursor: pointer;
    transition: 0.5s all;
}
.footer-1  button:hover {
    background-color: rgb(4, 127, 4);
    border-color: rgb(4, 127, 4); 
}
.footer-2{
    width: 100%;
    max-height: 500px;
    margin-top: 150px;
    background-color: #f1f1f1;
    overflow: hidden;
    display: none;

}
.div1{
    margin-top: 50px;
    height: 50px;
    width: 100%;
    /* background-color: #52b035; */
    position: relative;
}
.link{
    text-decoration: none;
    color:black;
    padding: 20px;
    font-size: 18px;
    font-family:"Cairo", sans-serif; 
}
.div1 p{
    /* color: #52b035 ; */
    display: inline;
    position: absolute;
    top: 20px;
    left:  0px;
    direction: ltr;
    
}
.cover{
    background-color: #fff;
    overflow: hidden;
}
.cover img{
    width: 160px;
    display: block;
    margin-right: 700px;
    margin-top: 60px;
    /* background-color: red */
}
.links{
    width: 80%;
    height: 100px;
    margin: auto;
    background-color: #52b035;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.links div{
    background-color: #444;
    height: 200px;
    width: 100%;
}
.links a{
    display: block;
    text-decoration: none;
    color: #f1f1f1;
    font-size: 12px;
}
.links p{
    font-size:11px ;
    color: #f1f1f1;
}
.last{
    width: 80%;
    height: 80px;
    margin: auto;
    /* background-color: #52b035; */
    display: flex;
    justify-content: space-around;
    line-height: 0.5;
    /* display: none; */
}
.last h2{
    color: black;
    font-size: 18px;
    font-family:"Cairo", sans-serif;
    font-weight: 100;
}
.last p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
}
.last div{
    /* background-color: #444; */
    height: 100%;
    width: 200px;
}
.last2{
    width: 650px;
    height: 80px;
    margin-right:120px ;
    /* background-color: #52b035; */
    display: flex;
    justify-content: space-around;
    line-height: 0.5;
}
.last2 h2{
    color: black;
    font-size: 18px;
    font-family:"Cairo", sans-serif;
    font-weight: 100;
}
.last2 p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
}